<!DOCTYPE html>
<html>
<head th:include="hrms/header"/>
<meta charset="UTF-8">
</head>
<body>
     <section class="content">
          <div class="box box-solid">
              <div class="box-header with-border">
                <i class="fa fa-list-alt"></i>
                <h3 class="box-title">置换信息记录</h3>
                <div class="pull-right box-tools">
                    <a class="btn btn-default btn-sm" href="/hrms/complaint/ic/exchange/index">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
              </div>
              
              <div class="box-body">
  
              <form class="form-horizontal">
               <fieldset>
                <legend>发起人信息:</legend>
                  <div class="form-group">
                      <label for="initiateName" class="col-sm-2 control-label">姓名：</label>
                      <div class="col-sm-3">
                          <p class="form-control-static" th:text='${initiatePersonnel.name}' /> 
                      </div>

                  </div>

                  <div class="form-group">
                      <label for="initiateIc" class="col-sm-2 control-label">身份证件号码：</label>
                      <div class="col-sm-3">
                          <p class="form-control-static"  th:text='${initiatePersonnel.identificationNo}'/> 
                      </div>
                  </div>

                </fieldset>
                <br>
     
        <fieldset> 
            <legend>置换人信息:</legend>  
                  <div class="form-group">
                      <label for="forExchangeName" class="col-sm-2 control-label">姓名：</label>
                      <div class="col-sm-3">
                          <p class="form-control-static" th:text='${forExchangePersonnel.name}' /> 
                      </div>
                  </div>
                  <div class="form-group">
                      <label for="forExchangeIc" class="col-sm-2 control-label">身份证件号码：</label>
                      <div class="col-sm-3">
                          <p class="form-control-static"  th:text='${forExchangePersonnel.identificationNo}'/> 
                      </div>
                  </div>
            </fieldset>
                <br>
                <fieldset>
                    <legend>处理信息：</legend>
	                     <div class="form-group">
	                     <label for="forExchangeIc" class="col-sm-2 control-label">处理结果：</label>
	                         <div class="col-sm-2">
	                             <p type="text"  class="form-control" th:text="${complaintIcExchangeDetail.dealResult}=='1'?'通过':'驳回'" /> 
	                         </div>
	                      </div>
	                      
		                  <div class="form-group">
		                  <label for="forExchangeIc" class="col-sm-2 control-label">处理说明：</label>
		                      <div class="col-sm-10">
		                          <p type="text" class="form-control" th:text="${complaintIcExchangeDetail.dealIllustration}" /> 
		                      </div>
		                 </div>
                </fieldset> 
              </form>
              </div>
          </div>
     </section>
         <div th:include="hrms/footer" />
</body>
</html>