<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="hrms/header" />

<body>
<section class="content-header">
        <h1>身份证置换管理</h1>
    </section>
<tt:constant enumcode="ic-deal-status"/>
    <section class="content">
        <div class="box box-solid">
            <div class="box-header with-border">
                <i class="fa fa-search"></i>
                <h3 class="box-title">查询</h3>
            </div>
            <div class="box-body">
                <form id="searchbar" class="form-horizontal">
                    <div class="form-group">
                            <label for="name" style="width:130px" class="col-sm-2 control-label">姓名</label>
                            <div class="col-sm-2">
                                <input type="text" name="name" class="form-control" th:value="${query?.name}" />
                            </div>
                            <label for="ic" style="width:130px" class="col-sm-2 control-label">身份证号</label>
                            <div class="col-sm-2">
                                <input type="text" name="ic" class="form-control" th:value="${query?.ic}" />
                            </div>
                            <label for="dealStatus" style="width:130px" class="col-sm-2 control-label">处理状态</label>
                            <div class="col-sm-2">
                            
                            <select name="dealStatus" class="form-control tonto-select-constant" enumcode="ic-deal-status" >
                              <option value="">请选择</option>
                            </select>
                            </div>
                    </div>
                    <!-- 表单仅有一个text-input时回车会提交表单，这里添加一个无用的防止回车提交 -->
                    <input type="text" style="display:none">
                </form>
                <div class="col-md-12">
                    <div class="pull-right">
                        <button type="button" style="width:100px" class="btn btn-primary tonto-btn-search" onclick="table.refresh()"><i class="fa fa-search"></i>查询</button>
                        <button type="button" style="width:100px" class="btn btn-default" onclick="$('form')[0].reset()"><i class="fa fa-repeat"></i>重置</button>
                    </div>
                </div>
                <input type="hidden" id="pageLimit" th:value="${query?.limit}" />
                <input type="hidden" id="pageOffset" th:value="${query?.offset}" />
            </div>
        </div>
        <div class="box box-solid" style="margin-top:20px">
            <div id="result" class="box-body">
                <table id="dataGrid"></table>
                <div id="toolbar">
                    <div class="btn-group">
                        <a onclick="toAdd()" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i>新增</a>
                        <a onclick="record()" class="btn btn-default"><i class="glyphicon glyphicon-search"></i>记录</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div th:include="hrms/footer" />
    <script type="text/javascript">
    /*<![CDATA[*/
    var table;
    $(function() {
        initDataGrid();
    });

    function initDataGrid() {
        var limit = $("#pageLimit").val();
        var offset = $("#pageOffset").val();
        var page = (limit && offset) ? offset / limit + 1 : 1;

        table = $.createTable("#dataGrid", {
            idField: "id",
            columns: [
                [   { radio:true },
                    { title: "发起姓名", field: "initiateName" },
                    { title: "发起证件号", field: "initiateIc" },
                    { title: "待置换姓名", field: "forExchangeName"},
                    { title: "待置换证件号", field: "forExchangeIc" },
                    { title: "处理状态", field: "dealStatus",enumcode:"ic-deal-status"},
                    {
                        title: "操作",
                        events: {
                            'click .view': function(e, value, row, index) {
                                view(row)
                                },
                            'click .edit':  function(e, value, row, index) {
                                    toCheck(row);
                                }
                            },
                        formatter: function(index, row) {
                            if (row.dealStatus > 3) {
                                return '<a class="view" href="javascript:void(0);"><i class="glyphicon glyphicon-search"></i>查看</a>';
                            } else{
                                return '<a class="edit" href="javascript:void(0);"><i class="glyphicon glyphicon-edit"></i>审查</a>';
                            }
                        }
                    }
                ]
            ],
            url: '/hrms/complaint/ic/exchange/find',
            searchbar: '#searchbar',
            showColumns: true,
            pageSize: limit || undefined,
            pageNumber: page || 1,
            pagination: true,
            clickToSelect: true,
            toolbar: "#toolbar",
            showRefresh: true
        });
    }

    function view(row) {
            window.location = '/hrms/complaint/ic/exchange/view?id=' + row.id + '&initiateIc=' + row.initiateIc +'&forExchangeIc=' + row.forExchangeIc;
        }

    function toAdd() {
        window.location = '/hrms/complaint/ic/exchange/to/add';
    }

    function toCheck(row){
        window.location = '/hrms/complaint/ic/exchange/to/check?id='+ row.id + '&initiateIc=' + row.initiateIc +'&forExchangeIc=' + row.forExchangeIc;
    }
    
    function record(){
        var row = getSelectRow();
        window.location = '/hrms/complaint/ic/exchange/record?id='+ row.id + '&initiateIc=' + row.initiateIc +'&forExchangeIc=' + row.forExchangeIc;
    }
    
    function getSelectRow(notShowError) {
        var rows = table.getSelections();
        var row = rows.length > 0 ? rows[0] : null;
        if (!notShowError && !row) {
            $.errorMessage("请选中一条业务数据");
        }
        return row;
    }
    
    /*]]>*/
    </script>
</body>

</html>