<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="/hrms/header" />

<body>
    <tt:constant enumcode="hr_info_check_type,hr_info_check_status,boolean" />
    <section class="content-header">
        <h1>人员信息变更-行政审核</h1>
    </section>
    <section class="content">
        <div class="box box-solid">
            <div class="box-header with-border">
                <i class="fa fa-search"></i>
                <h3 class="box-title">查询</h3>
            </div>
            <div class="box-body">
                <form id="searchbar" class="form-horizontal">
                    <div class="form-group">
                        <label for="name" class="col-sm-1 control-label">姓名</label>
                        <div class="col-sm-2">
                            <input type="text" name="name" class="form-control" th:value="${query?.name}" placeholder="请输入姓名" />
                        </div>
                        <label for="agencyName" class="col-sm-1 control-label">机构名称</label>
                        <div class="col-sm-2">
                            <div class="input-group">
                                <input type="text" name="agencyName" class="form-control tonto-agency" placeholder="请输入机构名称" th:value="${query?.agencyName}">
                                <input type="hidden" name="agencyId" th:value="${query?.agencyId}" />
                                <div class="input-group-btn">
                                    <ul class="dropdown-menu dropdown-menu-right" role="menu"></ul>
                                </div>
                            </div>
                        </div>
                        <label for="dept" class="col-sm-1 control-label">科室</label>
                        <div class="col-sm-2">
                            <input type="text" name="dept" id="dept_select" class="form-control" th:attr="selectedvalue=${query?.dept}" />
                        </div>
                    </div>
                    <!-- 表单仅有一个text-input时回车会提交表单，这里添加一个无用的防止回车提交 -->
                    <input type="text" style="display:none">
                </form>
                <div class="col-md-12">
                    <div class="pull-right">
                        <button type="button" style="width:100px" class="btn btn-primary tonto-btn-search" onclick="table.refresh()"><i class="fa fa-search"></i>查询</button>
                        <button type="button" style="width:100px" class="btn btn-default" onclick="$('form')[0].reset()"><i class="fa fa-repeat"></i>重置</button>
                    </div>
                </div>
                <input type="hidden" id="pageLimit" th:value="${query?.limit}" />
                <input type="hidden" id="pageOffset" th:value="${query?.offset}" />
            </div>
        </div>
        <div class="box box-solid" style="margin-top:20px">
            <div class="box-header with-border">
                <i class="fa fa-list-alt"></i>
                <h3 class="box-title">结果</h3>
            </div>
            <div id="result" class="box-body">
                <table id="dataGrid"></table>
                <div id="toolbar">
                    <div class="btn-group">
                        <a onclick="checkedRecords()" class="btn btn-success"><i class="fa fa-list"></i>&nbsp;&nbsp;已审核记录</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script type="text/javascript" src="/static/js/hrms/org/personal_tree_constant.js"></script>
    <div th:include="/hrms/footer" />
    <script type="text/javascript">
    /*<![CDATA[*/
    var table;
    $(function() {
        var departmentTypes = tree_constant["department-type"];
        $.createTreeSelectComponment("#dept_select").setData(departmentTypes);
        initDataGrid();
    });

    function initDataGrid() {
        var limit = $("#pageLimit").val();
        var offset = $("#pageOffset").val();
        var page = (limit && offset) ? offset / limit + 1 : 1;

        table = $.createTable("#dataGrid", {
            idField: "id",
            columns: [
                [
                    { title: "姓名", align: "center", field: "personnelName" },
                    { title: "所属机构", align: "center", field: "agencyName" },
                    { title: "所属科室", align: "center", field: "deptName" },
                    { title: "申请数量", align: "center", field: "applicationAmount" },
                    {
                        title: "操作",
                        align: "center",
                        formatter: function(value, row, index) {
                            return '<a href="/hrms/complaint/personnel/archives/everyone/index?personnelId=' + row.personnelId + '"><i class="glyphicon glyphicon-eye-open"></i>查看</a>';
                        }
                    }
                ]
            ],
            url: '/hrms/complaint/personnel/archives/application/amount',
            searchbar: '#searchbar',
            showColumns: true,
            pageSize: limit || undefined,
            pageNumber: page || 1,
            pagination: true,
            clickToSelect: true,
            toolbar: "#toolbar",
            showRefresh: true
        });
    }

    function checkedRecords() {
        window.location = "/hrms/complaint/personnel/archives/check/records/index"
    }


    /*]]>*/
    </script>
</body>

</html>