<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="/hrms/header"/>

<body>
<div>
    <tt:constant enumcode="hr_info_check_type" />
    <section class="content-header">
        <h1>人员信息历史审核记录</h1>
    </section>
    <section class="content">
        <div class="box box-solid">
            <div class="box-header with-border">
                <i class="fa fa-search"></i>
                <h3 class="box-title">查询</h3>
                <div class="pull-right box-tools">
                    <a class="btn btn-default btn-sm" href="/hrms/complaint/personnel/archives/org/everyone/index">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="box-body">
                <form id="searchbar" class="form-horizontal">
                    <input type="hidden" id="personnelId" name="personnelId" th:value="${personnelId}" />
                    <div class="form-group">
                        <label for="name" class="col-sm-1 control-label">姓名</label>
                        <div class="col-sm-2">
                            <input type="text" name="name"  class="form-control" placeholder="请输入姓名"/>
                        </div>
                        <label for="recordType" class="col-sm-1 control-label">审核类型</label>
                        <div class="col-sm-2">
                            <select name="recordType" class="form-control tonto-select-constant" enumcode="hr_info_check_type">
                                <option value="">请选择</option>
                            </select>
                        </div>
                        <label for="checkStatus" class="col-sm-1 control-label">审核状态</label>
                        <div class="col-sm-2">
                            <select name="checkStatus" id="checkStatus" class="form-control">
                                <option value="">请选择</option>
                                <option value="1">机构审核通过</option>
                                <option value="2">机构审核不通过</option>
                                <option value="3">行政审核通过</option>
                                <option value="4">行政审核不通过</option>
                            </select>
                        </div>
                    </div>
                    <!-- 表单仅有一个text-input时回车会提交表单，这里添加一个无用的防止回车提交 -->
                    <input type="text" style="display:none">
                </form>
                <div class="col-md-12">
                    <div class="pull-right">
                        <button type="button" style="width:100px" class="btn btn-primary tonto-btn-search" onclick="table.refresh()"><i class="fa fa-search"></i>查询</button>
                        <button type="button" style="width:100px" class="btn btn-default" onclick="$('form')[0].reset()"><i class="fa fa-repeat"></i>重置</button>
                    </div>
                </div>
                <input type="hidden" id="pageLimit" th:value="${query?.limit}" />
                <input type="hidden" id="pageOffset" th:value="${query?.offset}" />
            </div>
        </div>
        <div class="box box-solid" style="margin-top:20px">
            <div class="box-header with-border">
                <i class="fa fa-list-alt"></i>
                <h3 class="box-title">结果</h3>
            </div>
            <div class="box-body">
                <table id="dataGrid"></table>
                <div id="toolbar">
                </div>
            </div>
        </div>
    </section>
</div>
<div th:include="/hrms/footer"/>
<script type="text/javascript">
    /*<![CDATA[*/
    var table;
    $(function() {
        initDataGrid();
    });

    function initDataGrid() {
        var limit = $("#pageLimit").val();
        var offset = $("#pageOffset").val();
        var page = (limit && offset) ? offset / limit + 1 : 1;

        table = $.createTable("#dataGrid", {
            idField: "id",
            columns: [
                [
                    { title: "姓名", align: "center", field: "personnelName" },
                    { title: "所属机构", align: "center", field: "agencyName" },
                    { title: "数据提交时间", align: "center", field: "createTime", formatter: "datetime" },
                    { title: "审核业务类型", align: "center", field: "recordType", enumcode: "hr_info_check_type" },
                    {
                        title: "审核状态", align: "center", field: "result",width:'20px', formatter: function (value, row, index) {
                            if (value === 1) {
                                return '<span class="label label-success"><i class="glyphicon glyphicon-ok"></i>机构审核通过,等待行政审核</span>';
                            } else if (value === 2) {
                                return '<span class="label label-warning"><i class="glyphicon glyphicon-remove"></i>机构审核不通过</span>';
                            } else if (value === 3) {
                                return '<span class="label label-success"><i class="glyphicon glyphicon-ok"></i>行政审核通过</span>';
                            } else {
                                return '<span class="label label-danger"><i class="glyphicon glyphicon-remove"></i>行政审核不通过</span>'
                            }
                        }
                    },
                    {
                        title: "操作",
                        align: "center",
                        events: {
                            'click .show': function(e, value, row, index) {
                                show(row);
                            }
                        },
                        formatter: function(index, row) {
                            return '<a class="show" href="javascript:void(0);"><i class="glyphicon glyphicon-eye-open"></i>查看</a>';
                        }
                    }
                ]
            ],
            url: '/hrms/complaint/personnel/archives/check/records/list',
            searchbar: '#searchbar',
            showColumns: true,
            pageSize: limit || undefined,
            pageNumber: page || 1,
            pagination: true,
            showRefresh: true
        });
    }
    function show(row) {
        window.location = '/hrms/complaint/personnel/archives/check/records/view?recordId=' + row.recordId + '&recordType=' + row.recordType;
    }
    /*]]>*/
</script>
</body>
</html>