<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="/hrms/header" />

<body>
    <tt:constant enumcode="sex,identification-type,complaint-status,complaint-problem-type" />
    <section class="container content">
        <div class="box box-solid">
            <div class="box-header with-border">
                <i class="fa fa-question-circle"></i>
                <h3 class="box-title">个人申诉情况</h3>
                <div class="box-tools pull-right">
                    <a class="btn btn-box-tool" href="javascript:window.parent?window.parent.goHome():window.location='/hrms/org/personal/self'"><i class="fa fa-times"></i></a>
                </div>
            </div>
            <div id="base_view" class="box-body">
                <div id="empty_view" onclick="addNew()" class="dotted-line-btn" style="margin:10px">
                    <a href="javascript:void(0)" ><i class="glyphicon glyphicon-plus"></i>添加个人申诉</a>
                </div>
                <form id="base_view_form" class="form-horizontal" style="display: none">
                    <div id="warningDiv" style="display: none" class="alert alert-info"><i class="icon fa fa-info"></i>最近一次个人申请记录，状态为申请中...</div>
                    <div id="successDiv" style="display: none" class="alert alert-success"><i class="icon fa fa-check"></i>最近一次个人申请记录，审核通过</div>
                    <div id="dangerDiv" style="display: none" class="alert alert-danger"><i class="icon fa fa-warning"></i>最近一次个人申请记录，审核未通过</div>
                    <div class="form-group">
                        <label for="type" class="col-sm-3 control-label">申诉问题：</label>
                        <div class="col-sm-3">
                            <p name="type" class="form-control-static description"></p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="oldIdentificationType" class="col-sm-3 control-label">原证件类型：</label>
                        <div class="col-sm-3">
                            <p name="oldIdentificationType" class="form-control-static description"></p>
                        </div>
                        <label for="nowIdentificationType" class="col-sm-2 control-label">修改证件类型：</label>
                        <div class="col-sm-3">
                            <p name="nowIdentificationType" class="form-control-static description"></p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="oldIdentificationNo" class="col-sm-3 control-label">原身份证：</label>
                        <div class="col-sm-3">
                            <p name="oldIdentificationNo" class="form-control-static description"></p>
                        </div>
                        <label for="nowIdentificationNo" class="col-sm-2 control-label">修改身份证：</label>
                        <div class="col-sm-3">
                            <p name="nowIdentificationNo" class="form-control-static description"></p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="oldName" class="col-sm-3 control-label">原姓名：</label>
                        <div class="col-sm-3">
                            <p name="oldName" class="form-control-static description"></p>
                        </div>
                        <label for="nowName" class="col-sm-2 control-label">修改姓名：</label>
                        <div class="col-sm-3">
                            <p name="nowName" class="form-control-static description"></p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="oldSex" class="col-sm-3 control-label">原性别：</label>
                        <div class="col-sm-3">
                            <p name="oldSex" class="form-control-static description"></p>
                        </div>
                        <label for="nowSex" class="col-sm-2 control-label">修改性别：</label>
                        <div class="col-sm-3">
                            <p name="nowSex" class="form-control-static description"></p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="cellphone" class="col-sm-3 control-label">电话：</label>
                        <div class="col-sm-3">
                            <p name="cellphone" class="form-control-static description"></p>
                        </div>
                        <label for="qq" class="col-sm-2 control-label">QQ：</label>
                        <div class="col-sm-3">
                            <p name="qq" class="form-control-static description"></p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email" class="col-sm-3 control-label">邮箱：</label>
                        <div class="col-sm-3">
                            <p name="email" class="form-control-static description"></p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="illustrate" class="col-sm-3 control-label">审核意见：</label>
                        <div class="col-sm-3">
                            <p name="illustrate" class="form-control-static description"></p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="status" class="col-sm-3 control-label">状态：</label>
                        <div class="col-sm-3">
                            <p name="status" class="form-control-static description"></p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="attachments" class="col-sm-3 control-label">附件：</label>
                        <div name="attachments">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 col-sm-offset-5">
                            <button type="button" onclick="toEdit()" class="btn btn-primary btn-block"><i class="icon glyphicon glyphicon-edit"></i><span id="toEditbtn">申请</span></button>
                        </div>
                    </div>
                </form>
            </div>
            <div id="base_edit" class="box-body" style="display: none">
                <form id="base_form" action="/hrms/complaint/personnel/save/complaint" method="post" class="form-horizontal edit-body">
                    <div class="form-group">
                        <label for="type" class="col-sm-3 control-label">申诉类型：</label>
                        <div class="col-sm-3">
                            <select name="type" class="form-control tonto-select-constant" enumcode="complaint-problem-type">
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="oldIdentificationType" class="col-sm-3 control-label">原证件类型：</label>
                        <div class="col-sm-3">
                            <p name="oldIdentificationType" class="form-control-static description"></p>
                        </div>
                        <label for="nowIdentificationType" class="col-sm-2 control-label">修改证件类型：</label>
                        <div class="col-sm-3">
                            <select name="nowIdentificationType" id="nowIdentificationType" class="form-control tonto-select-constant" enumcode="identification-type">
                                <option value="">请选择</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="oldIdentificationNo" class="col-sm-3 control-label">原身份证：</label>
                        <div class="col-sm-3">
                            <p name="oldIdentificationNo" class="form-control-static description"></p>
                        </div>
                        <label for="nowIdentificationNo" class="col-sm-2 control-label">修改身份证：</label>
                        <div class="col-sm-3">
                            <input name="nowIdentificationNo" placeholder="请输入修改身份证" type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="oldName" class="col-sm-3 control-label">原姓名：</label>
                        <div class="col-sm-3">
                            <p name="oldName" class="form-control-static description" />
                        </div>
                        <label for="nowName" class="col-sm-2 control-label">修改姓名：</label>
                        <div class="col-sm-3">
                            <input name="nowName" placeholder="请输入修改姓名" type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="oldSex" class="col-sm-3 control-label">原性别：</label>
                        <div class="col-sm-3">
                            <p name="oldSex" class="form-control-static description"></p>
                        </div>
                        <label for="nowSex" class="col-sm-2 control-label">修改性别：</label>
                        <div class="col-sm-3">
                            <select name="nowSex" class="form-control tonto-select-constant" enumcode="sex">
                                <option value="">请选择</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="cellphone" class="col-sm-3 control-label">电话：</label>
                        <div class="col-sm-3">
                            <input name="cellphone" placeholder="请输入电话" type="text" class="form-control" />
                        </div>
                        <label for="qq" class="col-sm-2 control-label">QQ：</label>
                        <div class="col-sm-3">
                            <input name="qq" placeholder="请输入QQ" type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email" class="col-sm-3 control-label">邮箱：</label>
                        <div class="col-sm-3">
                            <input name="email" placeholder="请输入邮箱" type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="attachments" class="col-sm-3 control-label">附件上传：</label>
                        <div class="col-sm-9">
                            <input type="file" name="attachmentFiles" multiple>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 col-sm-offset-3">
                            <button type="submit" id="base_form_submit_btn" class="btn btn-primary btn-block">保存</button>
                        </div>
                        <div class="col-sm-2 col-sm-offset-1">
                            <button type="button" id="base_form_cancel_btn" class="btn btn-default btn-block">取消</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <div th:include="/hrms/footer" />
    <script type="text/javascript">
    /*<![CDATA[*/
    var columns = [
        { name: "personnelId", inputType: "ID" },
        { name: "type", inputType: "SELECT", title: "申诉问题", enum: "complaint-problem-type" },
        { name: "oldIdentificationType", inputType: "SELECT", title: "原证件类型", enum: "identification-type" },
        { name: "nowIdentificationType", inputType: "SELECT", title: "修改证件类型", enum: "identification-type", dependency: ["type", "1", "5"] },
        { name: "oldIdentificationNo", inputType: "TEXT", title: "原身份证" },
        { name: "nowIdentificationNo", inputType: "TEXT", title: "修改身份证", dependency: ["type", "2", "5"] },
        { name: "oldSex", inputType: "SELECT", title: "原性别", enum: "sex" },
        { name: "nowSex", inputType: "SELECT", title: "修改性别", enum: "sex", dependency: ["type", "4", "5"] },
        { name: "oldName", inputType: "TEXT", title: "原姓名" },
        { name: "nowName", inputType: "TEXT", title: "修改姓名", dependency: ["type", "3", "5"] },
        { name: "cellphone", inputType: "TEXT", title: "电话" },
        { name: "qq", inputType: "TEXT", title: "QQ" },
        { name: "email", inputType: "TEXT", title: "邮箱" },
        { name: "illustrate", inputType: "TEXT", title: "处理信息" },
        { name: "status", inputType: "SELECT", title: "处理状态", enum: "complaint-status" },
        { name: "attachments", inputType: "ATTACHMENT", fileName: "attachmentFiles", title: "附件上传" }
    ];

    var personnelId;
    var status;
    $(function() {
        baseModel = new tonto.Model("base", columns, {
            successCallback: function(data) {
                $.successMessage("保存成功");
                setData(data);
                baseModel.toView();
            },
            extraParam: function() {
                return {
                    personnelId: personnelId
                }
            }
        });

        $.getAjax("/hrms/complaint/personnel/self/get/detail", setData);

    });

    function addNew() {
        baseModel.toEdit();
    }

    function toEdit() {
        if (status == 0) {
            layer.confirm('申诉正在进行中，是否要修改?', function(index) {
                baseModel.toEdit();
                layer.close(index);
            });
        } else {
            baseModel.toEdit();
        }
    }

    function setData(data) {
        data.nowIdentificationType = data.nowIdentificationType || data.oldIdentificationType;
        data.nowIdentificationNo = data.nowIdentificationNo || data.oldIdentificationNo;
        data.nowName = data.nowName || data.oldName;
        data.nowSex = data.nowSex || data.oldSex;

        if (data.status === null || data.status === undefined) {
            $("#base_view_form").hide();
            $("#empty_view").show();
        } else {
            if (data.status === 0) {
                $("#warningDiv").show();
                $("#successDiv").hide();
                $("#dangerDiv").hide();
                $("#toEditbtn").text("修改申请");
            } else if (data.status === 1) {
                $("#warningDiv").hide();
                $("#successDiv").show();
                $("#dangerDiv").hide();
                $("#toEditbtn").text("再次申请");
            } else if (data.status === 2) {
                $("#warningDiv").hide();
                $("#successDiv").hide();
                $("#dangerDiv").show();
                $("#toEditbtn").text("再次申请");
            }
            status = data.status;
            $("#base_view_form").show();
            $("#empty_view").hide();
        }

        personnelId = data.personnelId;
        baseModel.setData(data);
    }

    /*]]>*/
    </script>
</body>

</html>