<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paladin.hrms.mapper.syst.SysAppMapper">
    <select id="sysAppById" resultType="com.paladin.hrms.model.syst.SysApp">
    	select 
		a.id,
		a.attachment_id as attachmentId,
		a.describes,
		a.version 
		from sys_app a where version = (select max(version) from sys_app) order by a.version
    </select>
</mapper>
