<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paladin.hrms.mapper.report.ReportInforMapper">
            <select id="searchTableList" parameterType="com.paladin.hrms.controller.report.pojo.ReportInforQuery" 
                resultType="com.paladin.hrms.controller.report.pojo.ReportInforDTO">
                  <!-- SELECT per.agency_id as org,
                  	per.agency_name as agencyName,
					count(per.identification_no) as todo,					
					sum(case when per.report_state=1
							and per.basic_infor_status=1 
							and per.working_infor_status=1
							and per.license_infor_status=1
							and per.education_infor_status=1
							then 1 else 0 end) as y,
					sum(case when per.report_state=1
							and (per.basic_infor_status=0 
							or per.working_infor_status=0
							or per.license_infor_status=0
							or per.education_infor_status=0)
							then 1 else 0 end) as n,
					sum(case when per.report_state=1 then 0 else 1 end ) as un,	已上报的不计入
					case org.confirm_state when 1 then '已上报' else '未上报' end as confirmState 
				FROM org_agency ag
				left join report_confirm_org org on ag.id=org.org_id
				left join	v_report_personnel_infor per on ag.id=per.agency_id -->
				SELECT
					ag.id AS org,
					ag.name AS agencyName,
					count(per.identification_no ) AS todo,
					sum(
						CASE
						WHEN per.report_state = 1
						AND per.basic_infor_status = 1
						AND per.working_infor_status = 1
						AND per.license_infor_status = 1
						AND per.education_infor_status = 1 THEN 1 ELSE 0 END ) AS y,
					sum(
						CASE WHEN per.report_state = 1
						AND (
							per.basic_infor_status = 0
							OR per.working_infor_status = 0
							OR per.license_infor_status = 0
							OR per.education_infor_status = 0
						) THEN 1 ELSE 0 END) AS n,
					sum(
						CASE WHEN per.report_state = 1 THEN 0 ELSE 1 END) AS un,
				
					CASE org.confirm_state WHEN 1 THEN '已上报' ELSE '未上报' END AS confirmState
				FROM
					org_agency ag
				LEFT JOIN report_confirm_org org ON ag.id = org.org_id and org.state=1
				LEFT JOIN v_report_personnel_infor per ON ag.id = per.agency_id
				<where>
					and ag.is_delete=0
					<if test="permission.cityCode!=null">
			            AND ag.city_code =#{permission.cityCode}
			        </if>
			        <if test="permission.cityCodes!=null">
			            AND ag.city_code IN
			            <foreach collection="permission.cityCodes" index="index" item="item" open="(" separator="," close=")">
			                #{item}
			            </foreach>
			        </if>
			        <if test="permission.townCode!=null">
			            AND ag.town_code =#{permission.townCode}
			        </if>
			        <if test="permission.townCodes!=null">
			            AND ag.town_code IN
			            <foreach collection="permission.townCodes" index="index" item="item" open="(" separator="," close=")">
			                #{item}
			            </foreach>
			        </if>
			        <if test="permission.districtCode!=null">
			            AND ag.district_code =#{permission.districtCode}
			        </if>
			        <if test="permission.districtCodes!=null">
			            AND ag.district_code IN
			            <foreach collection="permission.districtCodes" index="index" item="item" open="(" separator="," close=")">
			                #{item}
			            </foreach>
			        </if>
			        <if test="permission.agencyId!=null">
			            AND ag.id =#{permission.agencyId}
			        </if>
			        <if test="permission.agencyIds!=null">
			            AND ag.agency_id IN
			            <foreach collection="permission.agencyIds" index="index" item="item" open="(" separator="," close=")">
			                #{item}
			            </foreach>
			        </if>
					<if test="query.agencyName !=null and query.agencyName !='' ">
					AND ag.name LIKE CONCAT('%',#{query.agencyName},'%')
					</if>
				</where>
				group by ag.id
            </select>
            
         <insert id="insertReportPersonnelInfor" parameterType="com.paladin.hrms.model.report.ReportPersonnelInfor">
             insert into report_personnel_infor (id,personnel_id,name,report_state,report_time,report_user,remark,is_delete)
             values(#{id,jdbcType=VARCHAR},#{personnelId,jdbcType=VARCHAR},#{name,jdbcType=VARCHAR},#{reportState,jdbcType=VARCHAR},#{reportTime},
             #{reportUser,jdbcType=VARCHAR},#{remark,jdbcType=VARCHAR},#{isDelete,jdbcType=VARCHAR})
         </insert>   
         
         <select id="findOldEntity" parameterType="String" resultType="com.paladin.hrms.model.report.ReportPersonnelInfor">
              select id,personnel_id as personnelId,name,report_state as reportState from report_personnel_infor
              where personnel_id = #{0}
              and is_delete = '0'
         </select>
         
         <update id="removeReportPersonnelInfor" parameterType="String">
              update report_personnel_infor 
              set is_delete = '1'
              where personnel_id = #{0}
              and is_delete = '0'
         </update>
         
         <select id="searchOrgList" parameterType="com.paladin.hrms.controller.report.pojo.ReportInforQuery" 
                resultType="com.paladin.hrms.controller.report.pojo.ReportInforDTO">
                  SELECT ag.id as org,
                  	ag.name as agencyName,
					count(per.identification_no) as todo,					
					sum(case when per.report_state=1
							and per.basic_infor_status=1 
							and per.working_infor_status=1
							and per.license_infor_status=1
							and per.education_infor_status=1
							then 1 else 0 end) as y,
					sum(case when per.report_state=1
							and (per.basic_infor_status=0 
							or per.working_infor_status=0
							or per.license_infor_status=0
							or per.education_infor_status=0)
							then 1 else 0 end) as n,
					sum(case when per.report_state=1 then 0 else 1 end ) as un,	<!-- 已上报的不计入 -->
					case org.confirm_state when 1 then '已上报' else '未上报' end as confirmState 
				FROM org_agency ag
				left join report_confirm_org org on ag.id=org.org_id and org.state=1
				left join	v_report_personnel_infor per on ag.id=per.agency_id
				<where>
					and ag.is_delete=0
					<if test="permission.cityCode!=null">
			            AND ag.city_code =#{permission.cityCode}
			        </if>
			        <if test="permission.cityCodes!=null">
			            AND ag.city_code IN
			            <foreach collection="permission.cityCodes" index="index" item="item" open="(" separator="," close=")">
			                #{item}
			            </foreach>
			        </if>
			        <if test="permission.townCode!=null">
			            AND ag.town_code =#{permission.townCode}
			        </if>
			        <if test="permission.townCodes!=null">
			            AND ag.town_code IN
			            <foreach collection="permission.townCodes" index="index" item="item" open="(" separator="," close=")">
			                #{item}
			            </foreach>
			        </if>
			        <if test="permission.districtCode!=null">
			            AND ag.district_code =#{permission.districtCode}
			        </if>
			        <if test="permission.districtCodes!=null">
			            AND ag.district_code IN
			            <foreach collection="permission.districtCodes" index="index" item="item" open="(" separator="," close=")">
			                #{item}
			            </foreach>
			        </if>
			        <if test="permission.agencyId!=null">
			            AND ag.id =#{permission.agencyId}
			        </if>
			        <if test="permission.agencyIds!=null">
			            AND ag.agency_id IN
			            <foreach collection="permission.agencyIds" index="index" item="item" open="(" separator="," close=")">
			                #{item}
			            </foreach>
			        </if>
					<if test="query.agencyName !=null and query.agencyName !='' ">
					AND ag.name LIKE CONCAT('%',#{query.agencyName},'%')
					</if>
				</where>
				group by ag.id
            </select>
    <select id="searchOrgListExport"
            resultType="com.paladin.hrms.controller.report.confirm.pojo.AgencyReportInforExport">
        SELECT
        ag.name as agencyName,
        count(per.identification_no) as todo,
        sum(case when per.report_state=1
        and per.basic_infor_status=1
        and per.working_infor_status=1
        and per.license_infor_status=1
        and per.education_infor_status=1
        then 1 else 0 end) as y,
        sum(case when per.report_state=1
        and (per.basic_infor_status=0
        or per.working_infor_status=0
        or per.license_infor_status=0
        or per.education_infor_status=0)
        then 1 else 0 end) as n,
        sum(case when per.report_state=1 then 0 else 1 end ) as un,	<!-- 已上报的不计入 -->
        case org.confirm_state when 1 then '已上报' else '未上报' end as confirmState
        FROM org_agency ag
        left join report_confirm_org org on ag.id=org.org_id and org.state=1
        left join	v_report_personnel_infor per on ag.id=per.agency_id
        <where>
            and ag.is_delete=0
            <if test="permission.cityCode!=null">
                AND ag.city_code =#{permission.cityCode}
            </if>
            <if test="permission.cityCodes!=null">
                AND ag.city_code IN
                <foreach collection="permission.cityCodes" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="permission.townCode!=null">
                AND ag.town_code =#{permission.townCode}
            </if>
            <if test="permission.townCodes!=null">
                AND ag.town_code IN
                <foreach collection="permission.townCodes" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="permission.districtCode!=null">
                AND ag.district_code =#{permission.districtCode}
            </if>
            <if test="permission.districtCodes!=null">
                AND ag.district_code IN
                <foreach collection="permission.districtCodes" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="permission.agencyId!=null">
                AND ag.id =#{permission.agencyId}
            </if>
            <if test="permission.agencyIds!=null">
                AND ag.agency_id IN
                <foreach collection="permission.agencyIds" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="query.agencyName !=null and query.agencyName !='' ">
                AND ag.name LIKE CONCAT('%',#{query.agencyName},'%')
            </if>
        </where>
        group by ag.id
    </select>
</mapper>
