<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="/hrms/header" />

<body>
<tt:constant enumcode="sex"/>
    <section class="content">
        <div class="box box-solid">
            <div class="box-header">
            </div>
            <div class="box-body">
                <form class="form-horizontal tonto-form-validate" action="/hrms/org/agency/manager/save" callback-url="/hrms/org/agency/manager/index" method="post" th:object="${manager}">
                    <input type="hidden" name="id" id="id" th:field="*{id}" />
                    <input type="hidden" name="agencyId" id="agencyId" th:field="*{agencyId}" />
                    <div class="form-group">
                        <label for="name"  class="col-sm-2 control-label">姓名：</label>
                        <div class="col-sm-3">
                            <input class="form-control" required="required" placeholder="请输入姓名" name="name" th:field="*{name}"/> 
                        </div>
                        <label for="identificationNo" class="col-sm-2 control-label">身份证：</label>
                        <div class="col-sm-3">
                            <input class="form-control" required="required" placeholder="请输入身份证" name="identificationNo" th:field="*{identificationNo}"/> 
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="account" class="col-sm-2 control-label">登录名：</label>
                        <div class="col-sm-3">
                            <input class="form-control" readonly="readonly" name="account" th:value="*{account}"/> 
                        </div>
                        <label for="cellphone" class="col-sm-2 control-label">手机号：</label>
                        <div class="col-sm-3">
                            <input class="form-control" required="required" placeholder="请输入手机号" name="" th:field="*{cellphone}"/> 
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="sex" class="col-sm-2 control-label">性别：</label>
                        <div class="col-sm-3">
                            <select name="sex" required="required" placeholder="请选择性别" class="form-control tonto-select-constant" enumcode="sex" th:attr="selectedvalue=${manager.sex}">
                            	<option value="">请选择</option>
                            </select>
                        </div>
                        <label for="email" class="col-sm-2 control-label">邮箱：</label>
                        <div class="col-sm-3">
                            <input class="form-control" placeholder="请输入邮箱" name="email" th:field="*{email}"/> 
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="qq" class="col-sm-2 control-label">QQ：</label>
                        <div class="col-sm-3">
                            <input class="form-control" placeholder="请输入QQ" name="qq" th:field="*{qq}"/> 
                        </div>
                        <label for="departmentPosition" class="col-sm-2 control-label">部门职务：</label>
                        <div class="col-sm-3">
                            <input class="form-control" placeholder="请输入部门职务" name="departmentPosition" th:field="*{departmentPosition}" /> 
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-5 col-sm-2">
                            <button type="submit" class="btn btn-primary btn-block">保存</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <div th:include="/hrms/footer" />
    <script type="text/javascript">
    /*<![CDATA[*/
   
    /*]]>*/
    </script>
</body>

</html>