<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paladin.hrms.mapper.analysis.AnalysisPersonnelDataScoreMapper">
    <select id="findPersonnelScore" resultType="com.paladin.hrms.service.analysis.dto.AnalysisPersonnelDataScoreVO">
        SELECT
	        a.id AS personnelId,
	        a.name AS personnelName,
	        a.agency_id AS agencyId,
	        a.agency_name AS agencyName,
	        c.base_score AS baseScore,
	        c.job_score AS jobScore,
	        c.practice_score AS practiceScore,
	        c.education_score AS educationScore,
	        c.work_experience_score AS workExperienceScore,
	        c.positional_info_score AS positionalInfoScore,
	        c.science_education_score AS scienceEducationScore,
	        c.reward_info_score AS rewardInfoScore,
	        c.cultivate_score AS cultivateScore,
	        c.year_assess_score AS yearAssessScore,
	        c.sum_score AS sumScore,
	        c.update_time AS updateTime
        FROM org_personnel a LEFT JOIN analysis_personnel_data_score c ON c.personnel_id = a.id
        WHERE a.is_delete = 0
        <if test="permission.cityCode!=null">
            AND a.city_code =#{permission.cityCode}
        </if>
        <if test="permission.cityCodes!=null">
            AND a.city_code IN
            <foreach collection="permission.cityCodes" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="permission.townCode!=null">
            AND a.town_code =#{permission.townCode}
        </if>
        <if test="permission.townCodes!=null">
            AND a.town_code IN
            <foreach collection="permission.townCodes" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="permission.districtCode!=null">
            AND a.district_code =#{permission.districtCode}
        </if>
        <if test="permission.districtCodes!=null">
            AND a.district_code IN
            <foreach collection="permission.districtCodes" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="permission.agencyId!=null">
            AND a.agency_id =#{permission.agencyId}
        </if>
        <if test="permission.agencyIds!=null">
            AND a.agency_id IN
            <foreach collection="permission.agencyIds" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        
        <if test="query.personnelName!=null and query.personnelName !=''">
			AND a.name LIKE CONCAT('%',#{query.personnelName},'%')
		</if>
    </select>
    
    <select id="countOfContext" resultType ="int">
    	SELECT COUNT(1) FROM ${tableName} WHERE personnel_id = #{personnelId}
    </select>
    
    <select id="countOfValidContext" resultType ="int">
    	SELECT COUNT(1) FROM ${tableName} WHERE personnel_id = #{personnelId} AND status = 1
    </select>
    
    <select id="sumOfScoreForAgency" resultType="com.paladin.hrms.service.analysis.dto.AgencyDataSumScoreDTO">
		SELECT
			COUNT(1) AS personnelNum,
			SUM(b.base_score) AS baseScore,
			SUM(b.cultivate_score) AS cultivateScore,
			SUM(b.education_score) AS educationScore,
			SUM(b.job_score) AS jobScore,
			SUM(b.positional_info_score) AS positionalInfoScore,
			SUM(b.practice_score) AS practiceScore,
			SUM(b.reward_info_score) AS rewardInfoScore,
			SUM(b.science_education_score) AS scienceEducationScore,
			SUM(b.work_experience_score) AS workExperienceScore,
			SUM(b.year_assess_score) AS yearAssessScore,
			SUM(b.sum_score) AS sumScore
		FROM analysis_personnel_data_score b
		LEFT JOIN org_personnel a ON a.id = b.personnel_id
		WHERE a.is_delete = 0 AND a.agency_id = #{agencyId}
	</select>
    <select id="findPersonnelScoreExport" resultType="com.paladin.hrms.service.analysis.dto.AnalysisPersonnelExport">
        SELECT
        a.name AS personnelName,
        a.agency_name AS agencyName,
        c.base_score AS baseScore,
        c.job_score AS jobScore,
        c.practice_score AS practiceScore,
        c.education_score AS educationScore,
        c.work_experience_score AS workExperienceScore,
        c.positional_info_score AS positionalInfoScore,
        c.science_education_score AS scienceEducationScore,
        c.reward_info_score AS rewardInfoScore,
        c.cultivate_score AS cultivateScore,
        c.year_assess_score AS yearAssessScore,
        c.sum_score AS sumScore
        FROM org_personnel a LEFT JOIN analysis_personnel_data_score c ON c.personnel_id = a.id
        WHERE a.is_delete = 0
        <if test="permission.cityCode!=null">
            AND a.city_code =#{permission.cityCode}
        </if>
        <if test="permission.cityCodes!=null">
            AND a.city_code IN
            <foreach collection="permission.cityCodes" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="permission.townCode!=null">
            AND a.town_code =#{permission.townCode}
        </if>
        <if test="permission.townCodes!=null">
            AND a.town_code IN
            <foreach collection="permission.townCodes" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="permission.districtCode!=null">
            AND a.district_code =#{permission.districtCode}
        </if>
        <if test="permission.districtCodes!=null">
            AND a.district_code IN
            <foreach collection="permission.districtCodes" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="permission.agencyId!=null">
            AND a.agency_id =#{permission.agencyId}
        </if>
        <if test="permission.agencyIds!=null">
            AND a.agency_id IN
            <foreach collection="permission.agencyIds" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>

        <if test="query.personnelName!=null and query.personnelName !=''">
            AND a.name LIKE CONCAT('%',#{query.personnelName},'%')
        </if>
    </select>

</mapper>