<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paladin.hrms.mapper.org.OrgAgencyManagerMapper">
<select id="findAll" resultType="com.paladin.hrms.model.org.OrgAgencyManagerVo">
	SELECT
	manager.id AS id,
	agency.id AS agencyId,
	agency.district_code districtCode,
	agency.name AS agencyName,
	agency.code agencyCode,
	sys.id AS userId,
	sys.state AS state
	FROM org_agency AS agency
	LEFT JOIN org_agency_manager AS manager
	ON agency.id=manager.agency_id
	LEFT JOIN sys_user AS sys
	ON manager.id=sys.user_id 
	where 1=1 
	<if test="permission.cityCode!=null">
            AND agency.city_code =#{permission.cityCode}
        </if>
        <if test="permission.cityCodes!=null">
            AND agency.city_code IN
            <foreach collection="permission.cityCodes" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="permission.townCode!=null">
            AND agency.town_code =#{permission.townCode}
        </if>
        <if test="permission.townCodes!=null">
            AND agency.town_code IN
            <foreach collection="permission.townCodes" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="permission.districtCode!=null">
            AND agency.district_code =#{permission.districtCode}
        </if>
        <if test="permission.districtCodes!=null">
            AND agency.district_code IN
            <foreach collection="permission.districtCodes" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="permission.agencyId!=null">
            AND agency.id =#{permission.agencyId}
        </if>
        <if test="permission.agencyIds!=null">
            AND agency.agency_id IN
            <foreach collection="permission.agencyIds" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
	<if test="query.agencyName !=null and query.agencyName !='' ">
		AND agency.name LIKE CONCAT('%',#{query.agencyName},'%')
	</if>
	
	<if test="query.agencyCode !=null and query.agencyCode !='' ">
		AND agency.code LIKE CONCAT('%',#{query.agencyCode},'%')
	</if>
	
	<if test="query.state !=null and query.state !='' ">
		AND sys.state = #{query.state}
	</if>
	</select>
</mapper>
