<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paladin.hrms.mapper.document.DocumentAnnualCheckMapper">
  <resultMap id="BaseResultMap" type="com.paladin.hrms.model.document.DocumentAnnualCheck">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="busi_id" jdbcType="VARCHAR" property="busiId" />
    <result column="relation_id" jdbcType="VARCHAR" property="relationId" />
    <result column="year" jdbcType="VARCHAR" property="year" />
    <result column="salary" jdbcType="VARCHAR" property="salary" />
    <result column="award" jdbcType="VARCHAR" property="award" />
    <result column="other_income" jdbcType="VARCHAR" property="otherIncome" />
    <result column="check_state" jdbcType="VARCHAR" property="checkState" />
    <result column="position" jdbcType="VARCHAR" property="position" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_at" jdbcType="TIMESTAMP" property="createAt" />
    <result column="create_id" jdbcType="VARCHAR" property="createId" />
    <result column="update_at" jdbcType="TIMESTAMP" property="updateAt" />
    <result column="update_id" jdbcType="VARCHAR" property="updateId" />
    <result column="state" jdbcType="VARCHAR" property="state" />
  </resultMap>
  <sql id="Base_Column_List">
    id,busi_id, relation_id, year, salary, award, other_income, check_state, position, remark, 
    create_at, create_id, update_at, update_id, state
  </sql>
  <!-- <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from document_annual_check
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <insert id="insert" parameterType="com.paladin.hrms.model.document.AnnualCheck">
    insert into document_annual_check (id,busi_id ,relation_id, year, 
      salary, award, other_income, 
      check_state, position, remark, 
      create_at, create_id, update_at, 
      update_id, state)
    values (#{id,jdbcType=VARCHAR},#{busiId,jdbcType=VARCHAR}, #{relationId,jdbcType=VARCHAR}, #{year,jdbcType=VARCHAR}, 
      #{salary,jdbcType=VARCHAR}, #{award,jdbcType=VARCHAR}, #{otherIncome,jdbcType=VARCHAR}, 
      #{checkState,jdbcType=VARCHAR}, #{position,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{createAt,jdbcType=TIMESTAMP}, #{createId,jdbcType=VARCHAR}, #{updateAt,jdbcType=TIMESTAMP}, 
      #{updateId,jdbcType=VARCHAR}, #{state,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.paladin.hrms.model.document.AnnualCheck">
    insert into document_annual_check
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="busiId != null">
        busi_id,
      </if>
      <if test="relationId != null">
        relation_id,
      </if>
      <if test="year != null">
        year,
      </if>
      <if test="salary != null">
        salary,
      </if>
      <if test="award != null">
        award,
      </if>
      <if test="otherIncome != null">
        other_income,
      </if>
      <if test="checkState != null">
        check_state,
      </if>
      <if test="position != null">
        position,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createAt != null">
        create_at,
      </if>
      <if test="createId != null">
        create_id,
      </if>
      <if test="updateAt != null">
        update_at,
      </if>
      <if test="updateId != null">
        update_id,
      </if>
      <if test="state != null">
        state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="busiId != null">
        #{busiId,jdbcType=VARCHAR},
      </if>
      <if test="relationId != null">
        #{relationId,jdbcType=VARCHAR},
      </if>
      <if test="year != null">
        #{year,jdbcType=VARCHAR},
      </if>
      <if test="salary != null">
        #{salary,jdbcType=VARCHAR},
      </if>
      <if test="award != null">
        #{award,jdbcType=VARCHAR},
      </if>
      <if test="otherIncome != null">
        #{otherIncome,jdbcType=VARCHAR},
      </if>
      <if test="checkState != null">
        #{checkState,jdbcType=VARCHAR},
      </if>
      <if test="position != null">
        #{position,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createAt != null">
        #{createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="createId != null">
        #{createId,jdbcType=VARCHAR},
      </if>
      <if test="updateAt != null">
        #{updateAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updateId != null">
        #{updateId,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.paladin.hrms.model.document.AnnualCheck">
    update document_annual_check
    <set>
     <if test="busiId != null">
        busi_id = #{busiId,jdbcType=VARCHAR},
      </if>
      <if test="relationId != null">
        relation_id = #{relationId,jdbcType=VARCHAR},
      </if>
      <if test="year != null">
        year = #{year,jdbcType=VARCHAR},
      </if>
      <if test="salary != null">
        salary = #{salary,jdbcType=VARCHAR},
      </if>
      <if test="award != null">
        award = #{award,jdbcType=VARCHAR},
      </if>
      <if test="otherIncome != null">
        other_income = #{otherIncome,jdbcType=VARCHAR},
      </if>
      <if test="checkState != null">
        check_state = #{checkState,jdbcType=VARCHAR},
      </if>
      <if test="position != null">
        position = #{position,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createAt != null">
        create_at = #{createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="createId != null">
        create_id = #{createId,jdbcType=VARCHAR},
      </if>
      <if test="updateAt != null">
        update_at = #{updateAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updateId != null">
        update_id = #{updateId,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.paladin.hrms.model.document.AnnualCheck">
    update document_annual_check
    set 
    busi_id = #{busiId,jdbcType=VARCHAR},
    relation_id = #{relationId,jdbcType=VARCHAR},
      year = #{year,jdbcType=VARCHAR},
      salary = #{salary,jdbcType=VARCHAR},
      award = #{award,jdbcType=VARCHAR},
      other_income = #{otherIncome,jdbcType=VARCHAR},
      check_state = #{checkState,jdbcType=VARCHAR},
      position = #{position,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      create_at = #{createAt,jdbcType=TIMESTAMP},
      create_id = #{createId,jdbcType=VARCHAR},
      update_at = #{updateAt,jdbcType=TIMESTAMP},
      update_id = #{updateId,jdbcType=VARCHAR},
      state = #{state,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update> -->
  
  
  <!-- 以下代码非自动生成 -->
  <select id="list" parameterType="map" resultMap="BaseResultMap">
  	select <include refid="Base_Column_List" />
  	from document_annual_check
  	<where>
		state = '1'
		<if test="busiId != null">
        and busi_id = #{busiId,jdbcType=VARCHAR}
      </if>
	  <if test="relationId != null">
        and relation_id = #{relationId,jdbcType=VARCHAR}
      </if>
      <if test="year != null">
        and year = #{year,jdbcType=VARCHAR}
      </if>
      <if test="salary != null">
        and salary = #{salary,jdbcType=VARCHAR}
      </if>
      <if test="award != null">
        and award = #{award,jdbcType=VARCHAR}
      </if>
      <if test="otherIncome != null">
        and other_income = #{otherIncome,jdbcType=VARCHAR}
      </if>
      <if test="checkState != null">
        and check_state = #{checkState,jdbcType=VARCHAR}
      </if>
      <if test="position != null">
        and position = #{position,jdbcType=VARCHAR}
      </if>
      <if test="remark != null">
        and remark = #{remark,jdbcType=VARCHAR}
      </if>
      <if test="createAt != null">
        and create_at = #{createAt,jdbcType=TIMESTAMP}
      </if>
      <if test="createId != null">
        and create_id = #{createId,jdbcType=VARCHAR}
      </if>
      <if test="updateAt != null">
        and update_at = #{updateAt,jdbcType=TIMESTAMP}
      </if>
      <if test="updateId != null">
        and update_id = #{updateId,jdbcType=VARCHAR}
      </if>
	</where>
	<choose>
		<when test="sort != null and sort.trim() != ''">
			order by ${sort} ${order}
		</when>
		<otherwise>
			order by id desc
		</otherwise>
	</choose>
	<if test="offset != null and limit != null">
		limit #{offset}, #{limit}
	</if>
  </select>
  
  <select id="queryAnnualCheckByBusiId" parameterType="String" resultMap="BaseResultMap">
        select
		<include refid="Base_Column_List" />
		from document_annual_check
		where busi_id = #{busiId,jdbcType=VARCHAR}
		and state = '1'
  </select>
  
  <update id="deleteAnnualCheck" parameterType="String">
        update document_annual_check
        set state = '99'
        where busi_id = #{busiId}
        and state = '1'
  </update>
</mapper>