<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paladin.hrms.mapper.document.DocumentProfessionalTitleMapper">
  <resultMap id="BaseResultMap" type="com.paladin.hrms.model.document.DocumentProfessionalTitle">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="busi_id" jdbcType="VARCHAR" property="busiId" />
    <result column="relation_id" jdbcType="VARCHAR" property="relationId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="name_desc" jdbcType="VARCHAR" property="nameDesc" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="level" jdbcType="VARCHAR" property="level" />
    <result column="gain_date" jdbcType="DATE" property="gainDate" />
    <result column="is_hired" jdbcType="VARCHAR" property="isHired" />
    <result column="hire_date" jdbcType="DATE" property="hireDate" />
    <result column="check_state" jdbcType="VARCHAR" property="checkState" />
    <result column="create_at" jdbcType="TIMESTAMP" property="createAt" />
    <result column="create_id" jdbcType="VARCHAR" property="createId" />
    <result column="update_at" jdbcType="TIMESTAMP" property="updateAt" />
    <result column="update_id" jdbcType="VARCHAR" property="updateId" />
    <result column="state" jdbcType="VARCHAR" property="state" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <resultMap id="BaseResultMapVO" type="com.paladin.hrms.controller.document.pojo.DocumentProfessionalTitleVO">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="busi_id" jdbcType="VARCHAR" property="busiId" />
    <result column="relation_id" jdbcType="VARCHAR" property="relationId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="name_desc" jdbcType="VARCHAR" property="nameDesc" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="level" jdbcType="VARCHAR" property="level" />
    <result column="gain_date" jdbcType="DATE" property="gainDate" />
    <result column="is_hired" jdbcType="VARCHAR" property="isHired" />
    <result column="hire_date" jdbcType="DATE" property="hireDate" />
    <result column="check_state" jdbcType="VARCHAR" property="checkState" />
    <result column="create_at" jdbcType="TIMESTAMP" property="createAt" />
    <result column="create_id" jdbcType="VARCHAR" property="createId" />
    <result column="update_at" jdbcType="TIMESTAMP" property="updateAt" />
    <result column="update_id" jdbcType="VARCHAR" property="updateId" />
    <result column="state" jdbcType="VARCHAR" property="state" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    id, busi_id, relation_id, name,name_desc, type, level, gain_date, is_hired, hire_date, check_state, 
    create_at, create_id, update_at, update_id, state, remark
  </sql>
  <!-- <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from document_professional_title
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <insert id="insert" parameterType="com.paladin.hrms.model.document.ProfessionalTitle">
    insert into document_professional_title (id, busi_id, relation_id, name, 
      type, level, gain_date, 
      is_hired, hire_date, check_state, 
      create_at, create_id, update_at, 
      update_id, state, remark
      )
    values (#{id,jdbcType=VARCHAR}, #{busiId,jdbcType=VARCHAR}, #{relationId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{type,jdbcType=VARCHAR}, #{level,jdbcType=VARCHAR}, #{gainDate,jdbcType=DATE}, 
      #{isHired,jdbcType=VARCHAR}, #{hireDate,jdbcType=DATE}, #{checkState,jdbcType=VARCHAR}, 
      #{createAt,jdbcType=TIMESTAMP}, #{createId,jdbcType=VARCHAR}, #{updateAt,jdbcType=TIMESTAMP}, 
      #{updateId,jdbcType=VARCHAR}, #{state,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.paladin.hrms.model.document.ProfessionalTitle">
    insert into document_professional_title
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="busiId != null">
        busi_id,
      </if>
      <if test="relationId != null">
        relation_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="level != null">
        level,
      </if>
      <if test="gainDate != null">
        gain_date,
      </if>
      <if test="isHired != null">
        is_hired,
      </if>
      <if test="hireDate != null">
        hire_date,
      </if>
      <if test="checkState != null">
        check_state,
      </if>
      <if test="createAt != null">
        create_at,
      </if>
      <if test="createId != null">
        create_id,
      </if>
      <if test="updateAt != null">
        update_at,
      </if>
      <if test="updateId != null">
        update_id,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="busiId != null">
        #{busiId,jdbcType=VARCHAR},
      </if>
      <if test="relationId != null">
        #{relationId,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="level != null">
        #{level,jdbcType=VARCHAR},
      </if>
      <if test="gainDate != null">
        #{gainDate,jdbcType=DATE},
      </if>
      <if test="isHired != null">
        #{isHired,jdbcType=VARCHAR},
      </if>
      <if test="hireDate != null">
        #{hireDate,jdbcType=DATE},
      </if>
      <if test="checkState != null">
        #{checkState,jdbcType=VARCHAR},
      </if>
      <if test="createAt != null">
        #{createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="createId != null">
        #{createId,jdbcType=VARCHAR},
      </if>
      <if test="updateAt != null">
        #{updateAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updateId != null">
        #{updateId,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.paladin.hrms.model.document.ProfessionalTitle">
    update document_professional_title
    <set>
      <if test="busiId != null">
        busi_id = #{busiId,jdbcType=VARCHAR},
      </if>
      <if test="relationId != null">
        relation_id = #{relationId,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="level != null">
        level = #{level,jdbcType=VARCHAR},
      </if>
      <if test="gainDate != null">
        gain_date = #{gainDate,jdbcType=DATE},
      </if>
      <if test="isHired != null">
        is_hired = #{isHired,jdbcType=VARCHAR},
      </if>
      <if test="hireDate != null">
        hire_date = #{hireDate,jdbcType=DATE},
      </if>
      <if test="checkState != null">
        check_state = #{checkState,jdbcType=VARCHAR},
      </if>
      <if test="createAt != null">
        create_at = #{createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="createId != null">
        create_id = #{createId,jdbcType=VARCHAR},
      </if>
      <if test="updateAt != null">
        update_at = #{updateAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updateId != null">
        update_id = #{updateId,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.paladin.hrms.model.document.ProfessionalTitle">
    update document_professional_title
    set relation_id = #{relationId,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      level = #{level,jdbcType=VARCHAR},
      gain_date = #{gainDate,jdbcType=DATE},
      is_hired = #{isHired,jdbcType=VARCHAR},
      hire_date = #{hireDate,jdbcType=DATE},
      check_state = #{checkState,jdbcType=VARCHAR},
      create_at = #{createAt,jdbcType=TIMESTAMP},
      create_id = #{createId,jdbcType=VARCHAR},
      update_at = #{updateAt,jdbcType=TIMESTAMP},
      update_id = #{updateId,jdbcType=VARCHAR},
      state = #{state,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update> -->
  
  <!-- 以下代码非自动生成 -->
  <select id="list" parameterType="map" resultMap="BaseResultMapVO">
  	select <include refid="Base_Column_List" />
  	from document_professional_title
  	<where>
		state = '1'
	  <if test="relationId != null">
        and relation_id = #{relationId,jdbcType=VARCHAR}
      </if>
      <if test="name != null">
        and name = #{name,jdbcType=VARCHAR}
      </if>
      <if test="nameDesc != null">
        and name_desc = #{nameDesc,jdbcType=VARCHAR}
      </if>
      <if test="type != null">
        and type = #{type,jdbcType=VARCHAR}
      </if>
      <if test="level != null"> 
        and level = #{level,jdbcType=VARCHAR}
      </if>
      <if test="gainDate != null">
        and gain_date = #{gainDate,jdbcType=DATE}
      </if>
      <if test="isHired != null">
        and is_hired = #{isHired,jdbcType=VARCHAR}
      </if>
      <if test="hireDate != null">
        and hire_date = #{hireDate,jdbcType=DATE}
      </if>
      <if test="checkState != null">
        and check_state = #{checkState,jdbcType=VARCHAR}
      </if>
      <if test="createAt != null">
        and create_at = #{createAt,jdbcType=TIMESTAMP}
      </if>
      <if test="createId != null">
        and create_id = #{createId,jdbcType=VARCHAR}
      </if>
      <if test="updateAt != null">
        and update_at = #{updateAt,jdbcType=TIMESTAMP}
      </if>
      <if test="updateId != null">
        and update_id = #{updateId,jdbcType=VARCHAR}
      </if>
      <if test="remark != null">
        and remark = #{remark,jdbcType=VARCHAR}
      </if>
	</where>
	<choose>
		<when test="sort != null and sort.trim() != ''">
			order by ${sort} ${order}
		</when>
		<otherwise>
			order by id desc
		</otherwise>
	</choose>
	<if test="offset != null and limit != null">
		limit #{offset}, #{limit}
	</if>
  </select>
  
  <select id="queryProfessionalTitleByBusiId" parameterType="String" resultMap="BaseResultMap">
        select
		<include refid="Base_Column_List" />
		from document_professional_title
		where busi_id = #{busiId,jdbcType=VARCHAR}
		and state = '1'
  </select>
  
   <update id="deleteProfessionalTitle" parameterType="String">
        update document_professional_title
        set state = '99'
        where busi_id = #{busiId}
        and state = '1'
  </update>
</mapper>