<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paladin.hrms.mapper.complaint.ComplaintAgencyChangeMapper">    
    <select id="findPersonnelForChange" resultType="com.paladin.hrms.service.complaint.dto.PersonnelForAgencyChangeVO">
        SELECT
	        a.id,
		    a.name,
		    a.sex,
		    a.identification_no AS identificationNo,
		    a.agency_name AS agencyName,
		    a.agency_id AS agencyId,
		    d.name AS targetAgencyName,
		    c.target_agency AS targetAgencyId,
		    c.status
        FROM org_personnel a 
        LEFT JOIN complaint_agency_change c ON c.personnel_id = a.id
        LEFT JOIN org_agency d ON c.target_agency = d.id
        WHERE a.is_delete = 0
        <if test="permission.cityCode!=null">
            AND a.city_code =#{permission.cityCode}
        </if>
        <if test="permission.cityCodes!=null">
            AND a.city_code IN
            <foreach collection="permission.cityCodes" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="permission.townCode!=null">
            AND a.town_code =#{permission.townCode}
        </if>
        <if test="permission.townCodes!=null">
            AND a.town_code IN
            <foreach collection="permission.townCodes" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="permission.districtCode!=null">
            AND a.district_code =#{permission.districtCode}
        </if>
        <if test="permission.districtCodes!=null">
            AND a.district_code IN
            <foreach collection="permission.districtCodes" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="permission.agencyId!=null">
            AND a.agency_id =#{permission.agencyId}
        </if>
        <if test="permission.agencyIds!=null">
            AND a.agency_id IN
            <foreach collection="permission.agencyIds" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="query.name!=null and query.name !=''">
            AND a.name LIKE CONCAT('%',#{query.name},'%')
        </if>
         <if test="query.agencyName!=null and query.agencyName !=''">
            AND a.agency_name LIKE CONCAT('%',#{query.agencyName},'%')
        </if>
        <if test="query.identificationNo!=null and query.identificationNo !=''">
            AND a.identification_no LIKE CONCAT('%',#{query.identificationNo},'%')
        </if>
    </select>

    <select id="findAgencyChange" resultType="com.paladin.hrms.service.complaint.dto.ComplaintAgencyChangeSimpleVO">
        SELECT
            a.id,
            a.name,
            a.sex,
            a.identification_no AS identificationNo,
            a.agency_name AS agencyName,
            a.agency_id AS agencyId,
            d.name AS targetAgencyName,
            c.target_agency AS targetAgencyId
        FROM complaint_agency_change c
        LEFT JOIN org_personnel a ON c.personnel_id = a.id
        LEFT JOIN org_agency d ON c.target_agency = d.id
        WHERE c.status = 0 AND a.is_delete = 0
        <if test="permission.cityCode!=null">
            AND a.city_code =#{permission.cityCode}
        </if>
        <if test="permission.cityCodes!=null">
            AND a.city_code IN
            <foreach collection="permission.cityCodes" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="permission.townCode!=null">
            AND a.town_code =#{permission.townCode}
        </if>
        <if test="permission.townCodes!=null">
            AND a.town_code IN
            <foreach collection="permission.townCodes" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="permission.districtCode!=null">
            AND a.district_code =#{permission.districtCode}
        </if>
        <if test="permission.districtCodes!=null">
            AND a.district_code IN
            <foreach collection="permission.districtCodes" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="permission.agencyId!=null">
            AND a.agency_id =#{permission.agencyId}
        </if>
        <if test="permission.agencyIds!=null">
            AND a.agency_id IN
            <foreach collection="permission.agencyIds" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>

        <if test="query.targetAgencyId!=null and query.targetAgencyId !=''">
            AND c.target_agency = #{query.targetAgencyId}
        </if>
        <if test="query.name!=null and query.name !=''">
            AND a.name LIKE CONCAT('%',#{query.name},'%')
        </if>
        <if test="query.agencyName!=null and query.agencyName !=''">
            AND a.agency_name LIKE CONCAT('%',#{query.agencyName},'%')
        </if>
        <if test="query.targetAgencyName!=null and query.targetAgencyName !=''">
            AND d.name LIKE CONCAT('%',#{query.targetAgencyName},'%')
        </if>
        <if test="query.identificationNo!=null and query.identificationNo !=''">
            AND a.identification_no LIKE CONCAT('%',#{query.identificationNo},'%')
        </if>
    </select>
    
    <select id="getAgencyChangeById" resultType="com.paladin.hrms.service.complaint.dto.ComplaintAgencyChangeDTO">
    	SELECT
            a.id,
            a.name,
            a.sex,
            a.identification_no AS identificationNo,
            a.agency_name AS agencyName,
            a.agency_id AS agencyId,
            d.name AS targetAgencyName,
            c.target_agency AS targetAgencyId
        FROM complaint_agency_change c
        LEFT JOIN org_personnel a ON c.personnel_id = a.id
        LEFT JOIN org_agency d ON c.target_agency = d.id
        WHERE  a.is_delete = 0 and a.id =#{id}
    </select>
</mapper>