<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.paladin.hrms.mapper.complaint.ComplaintPersonnelRecordMapper">
	<select id="findComplaintPersonnel"
		resultType="com.paladin.hrms.service.complaint.dto.ComplaintPersonnelRecordSimpleVO">
		SELECT
		c.id,
		c.personnel_id AS personnelId,
		a.name,
		a.agency_name AS agencyName,
		c.type,
		c.result,
		c.create_time AS createTime
		FROM complaint_personnel_record c LEFT JOIN org_personnel a ON
		c.personnel_id = a.id
		WHERE c.result IN (1,2)
		<if test="permission.cityCode!=null">
			AND a.city_code =#{permission.cityCode}
		</if>
		<if test="permission.cityCodes!=null">
			AND a.city_code IN
			<foreach collection="permission.cityCodes" index="index"
				item="item" open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>

		<if test="permission.townCode!=null">
			AND a.town_code =#{permission.townCode}
		</if>
		<if test="permission.townCodes!=null">
			AND a.town_code IN
			<foreach collection="permission.townCodes" index="index"
				item="item" open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>

		<if test="permission.districtCode!=null">
			AND a.district_code =#{permission.districtCode}
		</if>
		<if test="permission.districtCodes!=null">
			AND a.district_code IN
			<foreach collection="permission.districtCodes" index="index"
				item="item" open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>

		<if test="permission.agencyId!=null">
			AND a.agency_id =#{permission.agencyId}
		</if>
		<if test="permission.agencyIds!=null">
			AND a.agency_id IN
			<foreach collection="permission.agencyIds" index="index"
				item="item" open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>

		<if test="query.personnelId!=null and query.personnelId !=''">
			AND c.personnel_id = #{personnelId}
		</if>

		<if test="query.name!=null and query.name !=''">
			AND a.name LIKE CONCAT('%',#{query.name},'%')
		</if>

		<if test="query.type!=null">
			AND c.type = #{query.type}
		</if>

		<if test="query.result != null">
			AND c.result = #{query.result}
		</if>
	</select>
</mapper>
