<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paladin.hrms.mapper.complaint.ComplaintIcExchangeMapper">
            <select id="searchTableList" resultType="com.paladin.hrms.model.complaint.ComplaintIcExchangeDTO">
                SELECT 
					per.`name` AS initiateName,
					per.identification_no AS initiateIc, 
					pers.`name` AS forExchangeName,
					pers.identification_no AS forExchangeIc,
					ice.deal_status AS dealStatus,
					ice.id AS id
				FROM complaint_ic_exchange  ice 
				LEFT JOIN org_personnel per ON per.id = ice.initiate_id 
				LEFT JOIN org_personnel pers ON pers.id = ice.for_exchange_id 
				WHERE per.is_delete = 0 
				    AND pers.is_delete = 0
				
				<if test="query.name!=null and query.name !=''">
                    AND per.name LIKE CONCAT('%',#{query.name},'%')
                </if>
                <if test="query.ic!=null and query.ic !=''">
                    AND (per.identification_no LIKE CONCAT('%',#{query.ic},'%')
                         OR pers.identification_no LIKE CONCAT('%',#{query.ic},'%')
                    )
                </if>
				
				<if test="query.dealStatus !=null and query.dealStatus !='' ">
				    AND  ice.deal_status = #{query.dealStatus}
				</if>
				
		        <if test="permission.cityCode!=null">
		            AND per.city_code =#{permission.cityCode}
		        </if>
		        <if test="permission.cityCodes!=null">
		            AND per.city_code IN
		            <foreach collection="permission.cityCodes" index="index" item="item" open="(" separator="," close=")">
		                #{item}
		            </foreach>
		        </if>
		        <if test="permission.townCode!=null">
		            AND per.town_code =#{permission.townCode}
		        </if>
		        <if test="permission.townCodes!=null">
		            AND per.town_code IN
		            <foreach collection="permission.townCodes" index="index" item="item" open="(" separator="," close=")">
		                #{item}
		            </foreach>
		        </if>
		        <if test="permission.districtCode!=null">
		            AND per.district_code =#{permission.districtCode}
		        </if>
		        <if test="permission.districtCodes!=null">
		            AND per.district_code IN
		            <foreach collection="permission.districtCodes" index="index" item="item" open="(" separator="," close=")">
		                #{item}
		            </foreach>
		        </if>
		        <if test="permission.agencyId!=null">
		            AND per.agency_id =#{permission.agencyId}
		        </if>
		        <if test="permission.agencyIds!=null">
		            AND per.agency_id IN
		            <foreach collection="permission.agencyIds" index="index" item="item" open="(" separator="," close=")">
		                #{item}
		            </foreach>
		        </if>
		        

				
            </select>
            
            <select id="validate"  resultType="com.paladin.hrms.model.org.OrgPersonnel">
				  SELECT 
					  id AS id,
					  identification_type AS identificationType, 
					  identification_no AS identificationNo,
					  `name` AS `name`,
					  sex AS sex,
					  used_name AS usedName,
					  cellphone AS cellphone,
					  office_phone AS officePhone,
					  profile_photo AS profilePhoto,
					  agency_id AS agencyId,
					  agency_name AS agencyName,
					  city_code AS cityCode,
					  town_code AS townCode,
					  district_code AS districtCode,
					  nationality AS nationality,
					  nation AS nation,
					  birthday AS birthday,
					  start_work_time AS startWorkTime,
					  join_party_time AS joinPartyTime,
					  political_affiliation AS politicalAffiliation,
					  interest AS interest,
					  native_place AS nativePlace,
					  `status` AS `status`,
					  is_delete AS isDelete
				  FROM org_personnel per
				  WHERE per.is_delete = 0
			        AND  identification_no = #{idcard}
			        
		        <if test="permission.cityCode!=null">
		            AND per.city_code =#{permission.cityCode}
		        </if>
		        <if test="permission.cityCodes!=null">
		            AND per.city_code IN
		            <foreach collection="permission.cityCodes" index="index" item="item" open="(" separator="," close=")">
		                #{item}
		            </foreach>
		        </if>
		        <if test="permission.townCode!=null">
		            AND per.town_code =#{permission.townCode}
		        </if>
		        <if test="permission.townCodes!=null">
		            AND per.town_code IN
		            <foreach collection="permission.townCodes" index="index" item="item" open="(" separator="," close=")">
		                #{item}
		            </foreach>
		        </if>
		        <if test="permission.districtCode!=null">
		            AND per.district_code =#{permission.districtCode}
		        </if>
		        <if test="permission.districtCodes!=null">
		            AND per.district_code IN
		            <foreach collection="permission.districtCodes" index="index" item="item" open="(" separator="," close=")">
		                #{item}
		            </foreach>
		        </if>
		        <if test="permission.agencyId!=null">
		            AND per.agency_id =#{permission.agencyId}
		        </if>
		        <if test="permission.agencyIds!=null">
		            AND per.agency_id IN
		            <foreach collection="permission.agencyIds" index="index" item="item" open="(" separator="," close=")">
		                #{item}
		            </foreach>
		        </if>
            </select>
</mapper>
